.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    /* background-color: #282c34; */
    padding: 40px;
    height: 100%;
    font-size: 2em;
    color: blue;
  }
  
  .notification {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  