.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}

.modal {
    border-radius: 2px;
    padding: 2rem;
    background-color: white;
    width: 50px;
}

.modal .btn {
    display: block;
    margin: auto;
}

.error {
    background-color: #f8d7da;
    color: #df4759;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}