.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }
  
  .nav .ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav .li {
    display: inline-block;
  }
  
  .nav .a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }